@import '../../styles/App.scss';

.star {
    width: 24px;
    // padding-left: $tiny-gap; à mettre si on met les étoiles caractères
}
.active {
    color: $main-color;
}

.inactive {
    color: gray;
}