@import '../../../styles/App.scss';

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    background-color: $gray-container;
    padding: 30px;
    @include large-radius;
    @include mobile {
        gap: 20px;
        padding: 0 0 20px 0;
        background-color: transparent;
    }

        .cards__display {
            width: calc(33.33% - 20px);
            height: calc(width);
            box-sizing: border-box;
            @include mobile {
                width: 100%;
            }
        }
}