@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin max-width-body {
  max-width: 1440px;
  box-sizing: border-box;
}

// MARGINS //
@mixin margin-container { // Marges droite et gauche de l'entête + corps
  margin-left: 100px;
  margin-right: 100px;
}
@mixin margin-container-mobile {
  margin: 0 20px;
}
@mixin margin-top-bottom {
  margin: 30px 0;
}
@mixin margin-bottom {
  margin-bottom: 5%;
}
@mixin margin-bottom-mobile {
  margin-bottom: 20%;
}

@mixin w100-hauto { // Width 100 Heigh auto
  width: 100%;
  height: auto;
}

@mixin mobile { // Mixin pour media queries tablette + mobile
  @media (max-width: 767px) {
    @content;
  }
}

// Les différents border-radius de la page (3 types)
@mixin large-radius {
  border-radius: 25px;
}
@mixin medium-radius {
  border-radius: 10px;
}
@mixin small-radius {
  border-radius: 5px;
}