@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@mixin max-width-body {
  max-width: 1440px;
  box-sizing: border-box;
}

@mixin margin-container {
  margin-left: 100px;
  margin-right: 100px;
}
@mixin margin-container-mobile {
  margin: 0 20px;
}
@mixin margin-top-bottom {
  margin: 30px 0;
}
@mixin margin-bottom {
  margin-bottom: 5%;
}
@mixin margin-bottom-mobile {
  margin-bottom: 20%;
}

@mixin w100-hauto {
  width: 100%;
  height: auto;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin large-radius {
  border-radius: 25px;
}
@mixin medium-radius {
  border-radius: 10px;
}
@mixin small-radius {
  border-radius: 5px;
}