$main-color: #FF6060;
$black-color: black;
$profile-picture-color: #C4C4C4;
$star-inactive-color: #E3E3E3;
$gray-container: #F6F6F6;
$footer-height: 209px;
$tiny-gap: 5px;
$smaller-gap: 10px;
$small-gap: 15px;
$medium-gap: 20px;
$large-gap: 30px;