@import '../../styles/App.scss';

.footer {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    height: 209px;
    background-color: $black-color;
    color: white;

    .footer__logo {
        width: auto;
    }
}