@import '/src/styles/App.scss';

.container {
    @include margin-top-bottom;
    @include margin-container;
    @include mobile {
            @include margin-container-mobile
        }
}

.accommodation-and-host {
    margin-top: $medium-gap;
    @include mobile {
        flex-direction: column;
    }
    .accommodation__title {
        color: $main-color;
        font-size: 36px;
        @include mobile {
            font-size: 18px;
        }
    }
    .accommodation__location {
        margin-bottom: 20px;
        @include mobile {
            font-size: 14px;
        }
    }

    .accommodation__tags p {
        @include medium-radius;
        display: inline-block;
        text-align: center;
        background-color: $main-color;
        font-size: 14px;
        color: white;
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 5px 20px;
        @include mobile {
        }
    }
}

.accommodation-and-host {
    display: flex;
    justify-content: space-between;
    
    .host-and-rating {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        @include mobile {
            flex-direction: row-reverse;
            align-items: center;
        }
    }
    .host-and-rating .rating {
        white-space: nowrap;
    }
    .host {
        @include flex-center;
        
        .host__name {
            display: inline;
            white-space: pre-line;
            text-align: end;
        }
        .host__picture {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-left: $small-gap;
        }
        }
}

.description-and-equipment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $large-gap;
    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

.collapse-content {
    height: auto;
}