@import '../../styles/App.scss';

.card__cover {
    @include medium-radius;
    position: relative;
    width: 100%;
    height: 0; /* Définir la hauteur à 0 */
    padding-top: 100%; /* Définir la hauteur égale à la largeur */
    @include mobile {
        height: 335px;
        padding-top: 0;
    }
    
    .card__cover--img {
        @include medium-radius;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card__title {
    position: absolute;
    bottom: $medium-gap;
    left: $medium-gap;
    color: white;
    font-weight:800;
    font-size: 18px;
    padding-right: 50%;
}
